* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../iconfont/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.container {
  width: 100%;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  font-family: 'Poppins', 'sans-serif';
  position: relative;
}

a:hover {
  text-decoration: none;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: transparent;
  outline: none;
}

.tabs .tab a:hover,
.tabs .tab a.active {
  background-color: transparent;
  color: #000;
  font-weight: 600;
}

.tabs {
  .tab {
    a {
      color: #949494;
    }
  }
}

.tabs {
  .indicator {
    display: none;
  }
}

[type="checkbox"]+span:not(.lever) {
  height: 14px;
  line-height: 14px;
  font-size: 13px;
  padding-left: 16px;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
  width: 11px;
  height: 11px;
  border: 2px solid #008C00;
  background-color: #008C00;
}

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
  height: 11px;
  width: 11px;
}

[type="checkbox"].filled-in:checked+span:not(.lever):before {
  left: -1px;
  width: 6px;
  height: 9px;
}

.modal.bottom-sheet {
  overflow-y: scroll;
  min-height: 50%;
  padding-bottom: 20px;
  border-radius: 20px 20px 0 0;
}

p {
  margin-bottom: 0;
}

i {
  margin: 0;
}

header {
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;

  i {
    margin-top: 20px;
    color: #fff;
  }
}

section {
  .menu {
    &-items {
      display: flex;

      &-list {
        .menu-items-single {
          display: flex;
          align-items: center;
          border-bottom: 1px solid #e5e5e5;

          .single-left {
            padding-right: 10px;
            width: 70%;

            .item-header {
              h4 {
                color: #333;
                font-size: 16px;
                font-weight: 600;
              }
            }

            .item-des {
              p {
                color: #949494;
                font-size: 11px;
                margin-bottom: .912rem;
              }
            }

            .item-price {
              p {
                font-weight: 600;
                font-size: 15px;
                color: #F14235
              }
            }
          }

          .single-right {
            width: 30%;

            img {
              margin: 10px 0;
              width: 100%;
            }
          }
        }

        .menu-modal {
          .modal-content {
            &-top {
              margin-bottom: 15px;

              .modal-title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h4 {
                  font-weight: 600;
                  font-size: 16px;
                  color: #333;
                }

                a {
                  i {
                    color: #333;
                    font-size: 16px;
                  }
                }
              }

              .modal-top-details {
                p {
                  color: #949494;
                  font-size: 12px;
                }
              }

            }

            &-second {
              display: flex;
              justify-content: space-evenly;
              align-items: center;

              .modal-img {
                width: 33%;
                margin: 0 20px;

                img {
                  width: 100%;
                }
              }

              .modal-img-btn {
                width: 50%;

                .single-btn {
                  display: flex;
                  align-items: center;
                  margin-bottom: 10px;
                  justify-content: center;

                  a {
                    color: #333;
                    background: transparent;
                    font-size: 11px;
                    box-shadow: none;
                    border: 1px solid #949494;
                    border-radius: 5px;
                    height: 25px;
                    line-height: 25px;
                    padding: 0;
                    width: 100%;
                  }

                  p {
                    font-size: 11px;
                    margin-left: 5px;
                    font-weight: 600;
                    color: #949494;
                  }
                }
              }
            }

            &-third {
              display: flex;
              margin-top: 20px;

              .modal-left {
                width: 50%;
              }

              .modal-right {
                width: 50%;

                .input-field {
                  margin-top: 0;

                  .select-wrapper input.select-dropdown {
                    border-bottom: none;
                    height: 24px;
                    line-height: 24px;
                    font-size: 13px;
                    margin: 0;
                    text-transform: capitalize;
                    color: #949494;
                  }
                }


              }
            }

            &-bottom {
              display: flex;
              margin-top: 20px;

              .modal-bottom-left {
                width: 50%;
                margin-right: 7.5px;
                display: flex;
                border: 1px solid #e5e5e5;
                border-radius: 5px;
                align-items: center;
                padding: 0 10px;

                a {
                  line-height: 0;

                  i {
                    color: #005178;
                  }
                }

                input {
                  margin: 0;
                  text-align: center;
                  border-bottom: none;
                  height: 20px;
                }
              }

              .modal-bottom-right {
                width: 50%;
                margin-left: 7.5px;

                .btn {
                  width: 100%;
                  background-color: #005178;
                }
              }
            }
          }
        }
      }
    }
  }
}

[type="checkbox"]:checked+span:not(.lever):before {
  top: 0;
  left: -5px;
  width: 7px;
  height: 12px;
  border-right: 2px solid #008C00;
  border-bottom: 2px solid #008C00;
}

[type="checkbox"]+span:not(.lever):before,
[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  width: 13px;
  height: 13px;
  margin-top: 0;
}

.page-footer {
  background-color: #005178;

  .footer-copyright {
    background-color: rgba(51, 51, 51, 0.5);
  }
}